<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/Wipro_Assignments_Gautam_kumar/src/Day2/GradePerformanceSwitch.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Day2.GradePerformanceSwitch"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="Wipro_Assignment_Day1_Gautam_kumar"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Wipro_Assignments_Gautam_kumar"/>
</launchConfiguration>
